# Force CPU-only PyTorch to avoid massive 2.5GB CUDA downloads on Free Tier
--extra-index-url https://download.pytorch.org/whl/cpu
torch>=2.2.0
torchvision>=0.17.0

ultralytics>=8.3.0
easyocr>=1.7.2
opencv-python-headless>=4.10.0
numpy>=1.26.0
pandas>=2.2.0
plotly>=5.24.0
streamlit>=1.45.0
reportlab>=4.2.0
PyYAML>=6.0.0
Pillow>=10.0.0
streamlit-image-coordinates>=0.1.6
